In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# Set the default plot aesthetics to be prettier.
sns.set_style("white")

In [2]:
# Loading the data again.

df = pd.read_csv("ESSdata_Thinkful.csv")

# Take a subset of the data to make plots clearer.
print(df.head())

print(df.cntry.unique())

  cntry  idno  year  tvtot  ppltrst  pplfair  pplhlp  happy  sclmeet  sclact  \
0    CH   5.0     6    3.0      3.0     10.0     5.0    8.0      5.0     4.0
1    CH  25.0     6    6.0      5.0      7.0     5.0    9.0      3.0     2.0
2    CH  26.0     6    1.0      8.0      8.0     8.0    7.0      6.0     3.0
3    CH  28.0     6    4.0      6.0      6.0     7.0   10.0      6.0     2.0
4    CH  29.0     6    5.0      6.0      7.0     5.0    8.0      7.0     2.0

   gndr  agea  partner
0   2.0  60.0      1.0
1   2.0  59.0      1.0
2   1.0  24.0      2.0
3   2.0  64.0      1.0
4   2.0  55.0      1.0
['CH' 'CZ' 'DE' 'ES' 'NO' 'SE']

In [3]:
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0