In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [145]:
NYcrimeDf = pd.read_csv('NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013 - 13tbl8ny.csv', skiprows=4).fillna(0)
NYcrimeDf.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.0,0.0,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,"2,577",3,0.0,0.0,0,0,3,24,3,20,1,0.0
2,Akron Village,"2,846",3,0.0,0.0,0,0,3,16,1,15,0,0.0
3,Albany,"97,956",791,8.0,0.0,30,227,526,"4,090",705,"3,243",142,0.0
4,Albion Village,"6,388",23,0.0,0.0,3,4,16,223,53,165,5,0.0

In [186]:
#Propertycrime = Î± + Population + Population2 + Murder + Robbery
murder = 0

population = []
for x in NYcrimeDf['Population']:
    pop = str(x).replace(',','')
    population.append(int(pop))

multivarReg = pd.DataFrame()
multivarReg['Population'] = population
multivarReg['Population^2'] = multivarReg['Population']**2

Murder_Cate = []
for key in NYcrimeDf['Murder and\nnonnegligent\nmanslaughter']:
    if key > 0:
        Murder_Cate.append(1)
    else:
        Murder_Cate.append(0)

multivarReg['Murder'] = Murder_Cate

robbery = []
for key in NYcrimeDf['Robbery']:
    rob = int(str(key).replace(',',''))
    
    if rob > 0:
        robbery.append(1)
    else:
        robbery.append(0)
multivarReg['Robbery'] = robbery

In [187]:
multivarReg.head()
#multivarReg[multivarReg['Murder'] == 1]

   Population  Population^2  Murder  Robbery
0        1861       3463321       0        0
1        2577       6640929       0        0
2        2846       8099716       0        0
3       97956    9595377936       1        1
4        6388      40806544       0        1